<div class="navbar-inner" ng-controller="HeaderController">
	<ul class="nav">
		<li>
			<a class="brand" href="/">ngFantasyFootball</a>
		</li>
	</ul>
	<ul class="nav pull-right" ng-hide="global.isSignedIn()">
		<li><a href="signup">Signup</a></li>
		<li class="divider-vertical"></li>
		<li><a href="signin">Signin</a></li>
	</ul>
	<ul class="nav pull-right" ng-show="global.isSignedIn()">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{global.currentUser().name}}<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li ><a href="/signout">Signout</a></li>
			</ul>
		</li>
	</ul>
</div>